.my_masonry_grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  column-gap: 20px;
  width: 100%;
}

.my_masonry_grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my_masonry_grid_column > * {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

img {
  width: 100%;
  display: block;
}
